#logo{
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    font-size: 25px;
    padding: 1rem 3rem;
}
.onions{
    
    border-radius: 50%;
}
body{
    padding: 2rem;
}
.col{
  text-align: center;
}
main{
  background-color: purple;
  padding-left: 1rem;
  padding-right: 1rem;
}
.bio{
  background-color: purple;
  text-align: center;
  font-family: "Roboto", cursive;
    font-weight: bold;
    font-size: 25px;
}
.col{
  background-color: purple;
  margin-left: 1rem;
  color: white;
}
#beans{
    font-family: "Lobster", cursive;
    font-weight: bold;
    font-size: 25px;
}
footer{
    height: 30px;
    color: white;
    text-align: center;
    margin-top: 1rem;
    background-color:  purple;
}
.content li:hover{
    background-color: purple;
    border-radius: 20px;
    transition: .5s all;
}
.col{
  justify-content: center;
}
#project_row > .col > .card {
  background-color: aqua;
  border-radius: 8px;
}
.container{
  height: 80vh;
}
.pad{
  font-size: 2rem;
  text-align: center;
}